.loginInput {
    padding: 20px 40px;
    border-radius: 36px;
    font-size: 16px;
    color: #BCBCBC;
    border: 1px solid black;
}

a {
    color: #565555;
    text-decoration:  underline #565555;
}